@import '../../../styles/settings.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgb(202, 202, 202);
  flex-direction: column;

  .topWrapper{
    display: flex;
  }

  .bottomWrapper{
    width: 100%;
    textarea {
      resize: none;
      width: 100%;
    }
  }

  .closebtn{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    background: $colorRed;
    border-radius: 50%;
    color: $colorWhite;
    font-size: 20px;
    cursor: pointer;

    &:hover{
      opacity: 0.7;
    }
  }

  .leftWrapper .imageWrapper{
    width: 130px;
    height: 130px;
    display: block;
    
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .rightWrapper{
    padding-left: 15px;
    
    h4{
      margin: 0;
      font-weight: 100;
    }

    h4:nth-of-type(2){
      margin-top: 10px;
      font-weight: bolder;
    }
  }
}
