@import "../../../styles/settings.scss";

.root {
  border: 1px solid $colorGrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  margin-top: 15px;
  
  .btn {
    cursor: pointer;
    font-size: 30px;
    padding: 0 20px;
  }

  .btnDisable {
    cursor: default;
    color: rgb(196, 196, 196);
  }

  span:nth-of-type(2) {
    font-weight: bold;
  }
}

.cart{
  width: 100px;

  span{
    font-size: 15px !important;
  }

  .btn{
    padding: 0 5px !important;
  }
}