@import '../../../styles/settings.scss';

.root {
  padding: 20px 0;
  width: 165px;
  border-top: 1px solid rgb(61, 61, 61);
  display: inline-block;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    display: inline-block;
    top: -1px;
    left: 0;
    position: absolute;
  }

  &:hover:before{
    border-top: 4px solid $colorRed;
  }

  &:hover{
    color: $colorRed;
  }
}
.active{

  &::before{
    border-top: 4px solid $colorBlack;
    content: "";
    width: 100%;
    display: inline-block;
    top: -1px;
    left: 0;
    position: absolute;
  }

  &:hover{
    border-top: 1px solid transparent;
  }
}
