@import "../../../styles/settings.scss";

.cart {
  position: relative;

  .cartHeader {
    color: $colorWhite;
    background: $colorBlack;
    width: 400px;
    position: relative;

    h2 {
      text-align: center;
    }

    span {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font-size: 30px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }

  .cartMain{
    height: calc(100% - 237px);
    overflow: auto;
  }

  .priceWrapper{
    height: 70px;

    h3{
      margin: 10px 0;
      margin-left: 20px;
    }
  }
  
  .cartFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-top: 1px solid $colorGrey;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      background: $colorRed;
      height: 50px;
      width: 200px;
      color: $colorWhite;
      font-size: 20px;
      transition: all 0.7s;
      text-align: center;
      line-height: 250%;
      background-position: 100% 0;
      background-size: 300%;
      background-image: linear-gradient(90deg, $colorBlack 50%, transparent 10%);

      &:hover {
        background-position: 0 100%;
      }
    }

  }
}
