@import "../../../styles/settings.scss";

.root {
  padding-top: 69.4px;

  .sliderWrapper {
    position: relative;
  }

  button:first-of-type {
    left: 10px;
    z-index: 999;

    &:before {
      content: "<";
      font-size: 50px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: bold;
    }
  }

  button:nth-of-type(2) {
    right: 20px;

    &:before {
      content: ">";
      font-size: 50px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-weight: bold;
    }
  }

  .imageWrapper {
    width: 100%;
    height: 800px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sliderCenterContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 700px;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      height: 90%;
      width: 95%;
      display: flex;
      flex-direction: column;

      .topContent {
        height: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $colorBlack;
        border-bottom: none;

        h1 {
          font-family: $logoFont;
          font-size: 60px;
          color: $colorRed;
          user-select: none;
        }
      }

      .bottomContent {
        height: 40%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          flex: 1;
          height: 100%;
          border: 3px solid $colorBlack;
        }

        div + div {
          border-left: none;
        }

        div:nth-of-type(1) {
          padding: 2px;

          p {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            user-select: none;
          }

          span {
            font-style: italic;
            font-weight: normal;
          }
        }

        div:nth-of-type(2) {
          background-image: url("https://logodownload.org/wp-content/uploads/2016/11/formula-1-logo-0.png");
          background-size: 90%;
          background-repeat: no-repeat;
          background-position: center;
        }

        div:nth-of-type(3) {
          background: $colorBlack;

          &:hover,
          &:hover a {
            background: none;
            color: $colorBlack;
          }

          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $colorBlack;
            color: $colorWhite;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .recommendationsWrapper {
    h1 {
      text-align: center;
      color: $colorGrey;
      font-weight: 100;
      margin-bottom: 23px;
    }
    
    .boxesWrapper{
      display: flex;
    }
  }
}
